{% extends 'base.html' %}
{% block content %}

<div class="dashboard">
  {% if user.is_authenticated  %}

  <div class="sidebar container">
    <div class="adminc">
      {% for person in persons %}
      <h1>{{ person.username }}</h1>
      
      <h4>{{ person.first_name }} {{ person.last_name }}</h4>
       {% endfor %}
      </div>

    <div class="admind">
      <a href="{% url 'home_view' %}"><h3>Dashboard</h3></a> 
      <a href="{% url 'persons' %}"><h3>Persons</h3></a>
      <a href="{% url 'allnotes' %}"><h3>Notes</h3></a> 
    </div>
  </div>

 <div class="rightside">
    <div class="top">
      <h1>Welcome to your Dashboard</h1>
    </div>

    <div class="down">
      <h1>Dashboard Data</h1>

      <div class='Acards'>
          
        <div class="cardA">
          
          <h1>Person</h1>
        </div>

      <div class="cardA">
        <h1>Notes</h1>
      </div>
      </div>
      
      
    </div>
    



    {% else %}
     <h1>Login</h1>
     <br>
     <form method="POST" action="{% url 'home_view'%}">
        {% csrf_token %}
        <form>
  <div class="mb-3">
    
    <input type="text" class="form-control" name="username", placeholder="UserName" required>
    
  </div>
  <div class="mb-3">
    
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  
  <button type="submit" class="btn btn-secondary">Login</button>
</form>
     </form>
       
 </div>
</div>
 {% endif%}

{% endblock %}