
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list of notes</title>
</head>
<body>
    <h1>My Notes</h1>
    <a href="#">Add Note</a>

    <ul>
        {% for each in notes %}
            <li>
                <a href="{% url 'details_read' each.id %}">{{each.title}}</a>  
                <a href="#">Delete</a>
                <a href="#">Edit</a>
            </li>
        {% endfor %}
        
    </ul>
</body>
</html>
