{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list of notes</title>
</head>
<body>


    <div class="dashboard">
    <div class="sidebar container">
       <div class="adminc">
      {% for person in persons %}
      <h1>{{ person.username }}</h1>
      
      <h4>{{ person.first_name }} {{ person.last_name }}</h4>
       {% endfor %}
      </div>

        <div class="admind">
        <a href="{% url 'home_view' %}"><h3>Dashboard</h3></a> 
        <a href="{% url 'persons' %}"><h3>Persons</h3></a>
        <a href="{% url 'allnotes' %}"><h3>Notes</h3></a> 
        
        </div>
    </div>
        

    <div class="rightside">
    <h1>My Notes</h1>
    <a href="#">Add Note</a>

    <ul>
        {% for each in notes %}
            <li>
                <a href="{% url 'details_read' each.id %}">{{each.title}}</a>  
                <a href="#">Delete</a>
                <a href="#">Edit</a>
            </li>
        {% endfor %}
        
    </ul>
    </div>
    </div>
</body>
</html>
{% endblock %}
