* {
    margin: 0;
    font-family: "Share Tech", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    background-color: #000c17;
}
.signup-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.shape {
   width: 300px;
   font-weight: 600;
   padding: 10px;
   align-items: center;
   color:  white;
   background-color: #000c17;
   border-radius: 10px;
   border: solid 1px;
   border-color: white;
   margin-bottom: 15px;
}


.shapebt{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    
}


.Tc {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
   
}

.signin{
    margin-bottom: 10px;}

.downT {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 15px;
}
 .CA{
    cursor: pointer;
}
.btn1 {
    font-size: 18px;
    background: none;
    color: white;
    border: none;
    cursor: pointer
}




.bx{
    font-size: 25px
}

.cilcle1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(rgb(241, 123, 241), rgb(76, 76, 150));
    position: absolute;
    top: 40px;
    left: 30%;
    box-shadow: 0 0 10px #939597;
}

.cilcle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(rgb(48, 45, 48), rgb(22, 19, 19), rgb(3, 3, 3));
    position: absolute;
    top: 80px;
    right: 30%;
    box-shadow: 0 0 10px #121a22;
    
}

#shapebd {
    margin-top: 10px;
    text-align: center;
    border: none;
    background: linear-gradient(rgb(241, 123, 241), rgb(76, 76, 150));
}