:root{
    --green-- :#67af67;
    --grey-- :#eaecf3;
    

}

*{
    padding: 0;
    margin: 0;
   
    
}

body h1, h2, h3, h4, h5, h6, p{ 
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 14px;
    color: grey;
}

section{
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 0px 10px #00000037;
}

.logo{
    margin: 10px;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    margin: 10px;
    padding: 10PX;
}

.menu a{
    margin: 0px 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.menu a:hover{
    background-color:var(--green--);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.herosection{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--grey--);
}
.herosec-l{
    margin: 190px 160px;
}

.h11{
    font-size: 60px;
}
.h22{
    font-size: 60px;
    color: var(--green--);
    margin-bottom: 15px;
}

.herosec-l p{
    margin-bottom: 30px;
}

.herosec-l button{
   padding: 15px 20px;
   border: none;
}




.heroimg{
    margin-right: 120px;
}

.heroimg img{
    margin-top: 30px;
    width: 500px;
    height: 500px;

}

.ourclients{
    margin-top: 40px;
    text-align: center;
    
}
.ourclients p{
   margin-top: 20px;
}

.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 120px;
    
}

.bi{
    font-size: 40px;

}

.sec2head{
    text-align: center;
    margin-top: 60px;
    

}

.sec2head p{
    margin-top: 10px;
}

.seccards{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;

}
 .card{
    width: 240px;
   padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0px 0px 10px #00000025;
   
 }

 .card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
 }

 .mdsec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 0px 30px;

 }

 .mdsec img{
    width: 400px;
    padding: 30px;
 }

 .mdsectext{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
 }

 button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
 }

 button:hover{
    background-color: var(--green--);
    transition: 0.3s;
    color: white;

 }

.sec2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    height: 300px;
    background-color: var(--grey--);
    margin-bottom:  80px;
}

.sec2text span{
    color: var(--green--);

}
.sec2text h1{
    line-height: 1.3cm;
    margin-bottom: 10px;
    font-size: 40px;
}

.mem{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sec3cnt{
    margin-top: 50px;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.sec3{
    height: 400px;
}

.sec3-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}
.sec3-txt span {
    color: var(--green--);
    font-size: 20px;
    font-weight: 600;
}

.sec3-txt-i{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 30px;

}
.arrow{
    display: flex;
    align-items: center;
    color: var(--green--);
    
}

.bi-arrow-right{
    font-size: 20px;
    padding: 5px;
}

.sec4txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 600px;
    font-size: 25px;
}

.sec4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allimgcd{
    display: flex;
    gap: 30px;
}

.imgcard{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.scard{
    width: 250px;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0px 10px 20px #3237501e;
    border-radius: 5px;
    margin-top: -50px;
    background-color: white;
    line-height: 0.7cm;
}

.scard p{
    color: var(--green--);
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    














/* screens */
/*  */
@media screen and (max-width: 1400px) {
    .navbar{
        padding: 40px;
    }

    .menu .logo{
        margin: 0;
        padding: 0;
    }

    .heroimg img{
    margin-top: 30px;
    width: 500px;
    height: 500px;

}
}


/* phone */
@media screen and (max-width:900px) {
    .navbar{
        display: none;
    }

    .herosection{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: var(--grey--);
}
.herosec-l{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroimg{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.h11{
    font-size: 40px;
    text-align: center;
}
.h22{
    font-size: 40px;
    color: var(--green--);
    margin-bottom: 15px;
    text-align: center;
}

.heroimg img{
    align-items: center;
    margin: 0;
}

}


/* small phone */
@media screen and (max-width:430px) {
        .navbar{
        display: none;
    }

    .herosection{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: var(--grey--);
}
.herosec-l{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroimg{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heroimg img{
    align-items: center;
    margin: 0;
}

   .heroimg img{
    margin-top: 30px;
    width: 300px;
    height: 300px;

}

.h11{
    font-size: 40px;
    text-align: center;
}
.h22{
    font-size: 40px;
    color: var(--green--);
    margin-bottom: 15px;
    text-align: center;
}
.herosec-l p{
    margin-bottom: 30px;
    text-align: center;
}
}

