*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 0 5px  ;
}

.navbar div li a{
    text-decoration: none;
    
}
.navbar div li{
    list-style: none;
}

.right-set{
    margin: 30px;
}

.right-set a{
    font-size: 18px;
    margin: 0 10px;
    color: black;
}

.right-set a:hover{
    background-color: rgba(164, 149, 105, 0.99);
    padding: 10px 15px;
    color: white;
    border-radius: 50px;
    transition: 0.4s ease-in-out;
    
}