*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 5px  ;
    padding: 10px 20px;
}

.navbar div li a{
    text-decoration: none;
    
}
.navbar div li{
    list-style: none;
}

.left-set{
    display: flex;
    margin-left: 60px;
    align-items: center;
}

.right-set a{
    font-size: 18px;
    margin: 0 13px;
    color: black;
}
#toggle-btn{
    display: none;
}


.right-set a:hover{
    background-color: rgba(164, 149, 105, 0.99);
    padding: 6px 15px;
    color: white;
    border-radius: 50px;
    transition: 0.4s ease-in-out;
    
}

.bi-list{
    font-size: 38px;
}

