*{
    margin: 0;
    padding: 0;
}

p ,h1, h2, h3, h4, h5{
    font-family: roboto;
}

.top-div{
    gap: 65px;
    padding:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #07373fea;
}

.td2{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.td2 span{
    color: white;
}

.td2 input{
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    border:solid 2px white;
    background: transparent;
    color: white;
    font-size: 16px;
}

.td2 button{
    padding: 15px;
    border-radius: 10px;
    background-color: #ff9900;
    color: white;
    border: none;
    margin-left: 10px;
    font-size: 16px;
}

.top-div img{

    width: 1300px;
    object-fit: cover;
    height: 600px;
    border-radius: 20px;
    border: solid 5px #178796;
}

.sec1{
    margin: 130px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cardbox {
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    gap: 90px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.sec1 button{
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    color: #ffffffea;
    background-color:  #07373fea;;
}

.sec1 img{
    margin-top: 60px;
     width: 600px;
    object-fit: cover;
    height: 400px;
    border-radius: 20px;
    border: solid 5px #178796;
}


