*{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.middle{
    display: flex;
    
}
.middle a{
    margin: 10px 30px;

}
.button {
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(to right, #2dd4bf, #3b82f6) border-box;
  border: 2px solid transparent;
  font-size: 14px;
  font-weight: 600;
  color: #1e3a8a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: linear-gradient(to right, #2dd4bf, #3b82f6) padding-box,
              linear-gradient(to right, #2dd4bf, #3b82f6) border-box;
  color: white;
}
